<div>
  <h1>Productos</h1>
  <ul>
    {{#each products}}
      <h2>{{this.title}}</h2>
      <p>{{this.description}}</p>
      <p>{{this.category}}</p>
      <p>{{this.price}}</p>
      <p>{{this.stock}}</p>
  </ul>
</div>
 <div>
  <button class="btn btn-success" id="{{this._id}}">Agregar al Carrito</button>
 </div>
 {{/each}}
</div>
{{#if hasPrevPage}}
 <a href="/?limit={{limit}}&page={{prevPage}}&sort={{sort}}&query={{query}}"><button class="btn btn-danger">Anterior</button></a>
{{/if}}
{{#if hasNextPage}}
 <a href="/?limit={{limit}}&page={{nextPage}}&sort={{sort}}&query={{query}}"><button class="btn btn-danger">Siguiente</button></a>
{{/if}}